# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
.env/
.conda/

# dotenv files
.env

# Jupyter Notebook
.ipynb_checkpoints/

# VSCode / PyCharm
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Folder
res/